body{
	font-family: 'Montserrat', sans-serif;
}

#banner{
	background: url('css/background.jpg') no-repeat center center fixed;
	display: table;
	height: 700px;
	position: relative;
	width: 100%;
}

.landing-text{
	display: table-cell;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
}

.landing-text h1{
	font-size: 600%;
	font-weight: 700;
}

.padding{
	height: 500px;
	width: 100%;
	position: relative;
}

.container{
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
}

.row{
	margin-top: 30px;
	text-align: center;
}

.img{
	width: 200px;
	height: 300px;
}

.quote{
	background:  beige no-repeat center center fixed;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
	height: 300px;

}

.col-sm-4{
	margin-top: 50px;
	text-align: center;
}

.col-sm-6{
	margin-top: 20px;
}


h1{
	font-weight: 600;
}

h2{
	font-weight: 300;
}

h2.icon{
	font-weight: 500;
}

h3.quoter{
	color: grey;
	font-weight: 500;
	font-size: 80%;
}

blockquote{
	margin-top:100px;
	font-size: 30px;
}

p.project-comp{
	font-size:50%;
	margin-right:170px;
	opacity:0.5;
	font-weight: 300;
	color:orange;
}

p.project-tags{
	font-size:50%;
	margin-right:110px;
	font-weight:300;
	opacity:0.5;
}

p.project-desc{
	font-size:1.4rem;
	line-height:1.6;
	text-align:justify;
	margin-left:175px;
	font-weight:500;
}
