body{
	font-family: 'Montserrat', sans-serif;
}

#banner{
	background: url('assets/background.jpg') no-repeat center center fixed;
	display: table;
	height: 700px;
	position: relative;
	width: 100%;
}

.landing-text{
	display: table-cell;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
}

.landing-text h2{
	font-size: 300%;
	font-weight: 700;
}

.typewriter h2{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.padding{
	height: 500px;
	width: 100%;
	position: relative;
}

.container{
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
}

.row{
	margin-top: 30px;
	text-align: center;
}

.img{
	width: 200px;
	height: 300px;
}

.quote{
	background:  beige no-repeat center center fixed;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
	height: 300px;

}

.col-sm-4{
	margin-top: 50px;
	text-align: center;
}

.col-sm-6{
	margin-top: 20px;
}


h1{
	font-weight: 600;
}

h2{
	font-weight: 300;
}

h2.bio{
	margin-top:120px;
	line-height:1.6
}

h2.icon{
	font-weight: 500;
	color: orange;
}

h3.quoter{
	color: grey;
	font-weight: 500;
	font-size: 80%;
}

blockquote{
	margin-top:100px;
	font-size: 30px;
}

p.project-comp{
	font-size:50%;
	margin-right:170px;
	opacity:0.5;
	font-weight: 300;
	color:orange;
}

p.project-tags{
	font-size:50%;
	margin-right:110px;
	font-weight:300;
	opacity:0.5;
}

p.project-desc{
	font-size:1.4rem;
	line-height:1.6;
	text-align:justify;
	margin-left:175px;
	font-weight:500;
}

.btn{
	background: orange;
	color: white;
	margin-right: 210px;
}
